/* 组建覆盖央视表 */
.ivu-col-span-12 {
    display: block;
    width: 100% !important;
}
.ivu-col-span-12 {
    display: flex !important;
    align-items: center;
}
.el-range-editor--small.el-input__inner {
    margin-right: 10px !important;
}
.table_css_xiaoyuer {
    box-sizing: border-box;
    padding: 20px;
}
.top-compo{
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 20px;
}
