.titleDtata {
    width: 98%;
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 4px #e8eaec;
    z-index: 999;
    border-radius: 3px;
}

.xiaoyuerSpan {
    display: inline-block;
    height: 100%;
    padding: 12px 0px;
    cursor: pointer;
}

.SonClass {
    display: inline-block;
    padding: 5px 0px;
}

.header .logo {
    float: left;
    width: 189px;
    line-height: 70px;
    text-align: center;
}